extends layout.pug
block headers
  link(rel='stylesheet', href='/stylesheets/topic-style.css')   

block content 
  .page-wrapper
    
   .container
     .graphic
       img(src='/images/img.png' style='width:100px; height:100px;')
     .contents
       .row
       .row
       .row
       .row 
           
   .container
     .graphic
       img(src='/images/img.png' style='width:100px; height:100px;')
     .contents
      .row
      .row
      .row
      .row 
   .container
    .graphic
      img(src='/images/img.png' style='width:100px; height:100px;')
    .contents
     .row
     .row
     .row
     .row 
     
   .container
    .graphic
      img(src='/images/img.png' style='width:100px; height:100px;')
    .contents
     .row
     .row
     .row
     .row 
    
    
